In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
from robopose.config import LOCAL_DATA_DIR
from IPython.display import display_html
import datetime
import torch

Setting OMP and MKL num threads to 1.

# Known Q, DREAM

In [2]:
exp_id = 1804
robots = ['panda', 'kuka', 'baxter']
result_ids = [
    f'dream-{robot}-dream-all-models--{exp_id}' for robot in robots
]

rows = []
for result_id in result_ids:
    result_dir = LOCAL_DATA_DIR / 'results' / result_id
    print(result_id)
    ds_result_dirs = result_dir.glob('dataset=*')
    robot = result_id.split('-')[1]
    for ds_result_dir in ds_result_dirs:
        dataset = ds_result_dir.name.split('dataset=')[1]
        path = ds_result_dir / 'summary.pth.tar'
        summary = torch.load(path)
        for net in ('vgg_f', 'vgg_q', 'resnet_h'):
            key = f'known_joints/dream_net={robot}_dream_{net}'
            ADD = summary.get(f'{key}/dream_keypoints/ADD/AUC')
            if ADD is not None:
                rows.append(
                    dict(
                        dataset=dataset,
                        net=net,
                        ADD=ADD * 100,
                    )
                )
            
pd.options.display.float_format = "{:,.2f}".format
ds_names = [
        'dream.baxter.synt.dr.test',
        
        'dream.kuka.synt.dr.test',
        'dream.kuka.synt.photo.test',
        
        'dream.panda.synt.dr.test',
        'dream.panda.synt.photo.test',
        
        'dream.panda.real.azure',
        'dream.panda.real.kinect360',
        'dream.panda.real.realsense',
        
        'dream.panda.real.orb',
    ]
df = pd.DataFrame(rows).set_index('dataset')
for ds_name in ds_names:
    display_html(df.loc[[ds_name]].T)

dream-panda-dream-all-models--1804
dream-kuka-dream-all-models--1804
dream-baxter-dream-all-models--1804

dataset,dream.baxter.synt.dr.test
net,vgg_q
ADD,75.47

dataset,dream.kuka.synt.dr.test
net,resnet_h
ADD,73.30

dataset,dream.kuka.synt.photo.test
net,resnet_h
ADD,72.14

dataset,dream.panda.synt.dr.test,dream.panda.synt.dr.test,dream.panda.synt.dr.test
net,vgg_f,vgg_q,resnet_h
ADD,81.33,77.82,82.89

dataset,dream.panda.synt.photo.test,dream.panda.synt.photo.test,dream.panda.synt.photo.test
net,vgg_f,vgg_q,resnet_h
ADD,79.53,74.30,81.09

dataset,dream.panda.real.azure,dream.panda.real.azure,dream.panda.real.azure
net,vgg_f,vgg_q,resnet_h
ADD,68.91,52.38,60.52

dataset,dream.panda.real.kinect360,dream.panda.real.kinect360,dream.panda.real.kinect360
net,vgg_f,vgg_q,resnet_h
ADD,24.36,37.47,64.01

dataset,dream.panda.real.realsense,dream.panda.real.realsense,dream.panda.real.realsense
net,vgg_f,vgg_q,resnet_h
ADD,76.13,77.98,78.83

dataset,dream.panda.real.orb,dream.panda.real.orb,dream.panda.real.orb
net,vgg_f,vgg_q,resnet_h
ADD,61.93,57.09,69.05

# Known Q, Comparison with DREAM

In [3]:
exp_id = 1804
robots = ['kuka', 'baxter', 'panda']
result_ids = [
    f'dream-{robot}-knownq--{exp_id}' for robot in robots
]

rows = []
for result_id in result_ids:
    print(result_id)
    result_dir = LOCAL_DATA_DIR / 'results' / result_id
    ds_result_dirs = result_dir.glob('dataset=*')
    for ds_result_dir in ds_result_dirs:
        dataset = ds_result_dir.name.split('dataset=')[1]
        path = ds_result_dir / 'summary.pth.tar'
        summary = torch.load(path)
        rows.append(
            dict(
                dataset=dataset,
                DREAM=summary['known_joints/dream/dream_keypoints/ADD/AUC'] * 100,
                ours=summary['full_image_detections/gt_joints/iteration=10/dream_keypoints/ADD/AUC'] * 100,
            )
        )

pd.options.display.float_format = "{:,.2f}".format
pd.DataFrame(rows).set_index('dataset').loc[
    [
        'dream.baxter.synt.dr.test',
        
        'dream.kuka.synt.dr.test',
        'dream.kuka.synt.photo.test',
        
        'dream.panda.synt.dr.test',
        'dream.panda.synt.photo.test',
        
        'dream.panda.real.azure',
        'dream.panda.real.kinect360',
        'dream.panda.real.realsense',
        
        'dream.panda.real.orb',
    ]
]

dream-kuka-knownq--1804
dream-baxter-knownq--1804
dream-panda-knownq--1804

                             DREAM  ours
dataset
dream.baxter.synt.dr.test    75.47 86.54
dream.kuka.synt.dr.test      73.30 89.57
dream.kuka.synt.photo.test   72.14 86.91
dream.panda.synt.dr.test     82.89 92.69
dream.panda.synt.photo.test  81.09 90.04
dream.panda.real.azure       68.91 76.58
dream.panda.real.kinect360   64.01 85.97
dream.panda.real.realsense   78.83 76.90
dream.panda.real.orb         61.93 80.55

# Ablation Known Q

In [4]:
from IPython.display import display_html
exp_id = 1804
infos = [
    dict(ref='link5'),
    dict(ref='link2'),
    dict(ref='link1'),
    dict(ref='link0'),
    dict(ref='link4'),
    dict(ref='link9'),
]


result_key = 'full_image_detections/gt_joints/iteration=10/dream_keypoints/ADD/AUC'
rows = []
for info in infos:
    result_id = f"dream-panda-orb-knownq-{info['ref']}--{exp_id}"
    print(result_id)
    result_dir = LOCAL_DATA_DIR / 'results' / result_id
    ds_result_dirs = result_dir.glob('dataset=*')
    for ds_result_dir in ds_result_dirs:
        dataset = ds_result_dir.name.split('dataset=')[1]
        summary = torch.load(ds_result_dir / 'summary.pth.tar')
        path = ds_result_dir / 'summary.pth.tar'
        summary = torch.load(path)
        row = dict(
            ref=info['ref'],
            dataset=dataset,
            ADD=summary[result_key] * 100
        )
        rows.append(row)
        
ds_names = [
    'dream.panda.real.orb',
]
df = pd.DataFrame(rows).set_index('dataset')
dfs = [df.loc[ds_name] for ds_name in ds_names]

pd.options.display.float_format = "{:,.2f}".format
for df_i in dfs:
    display_html(df_i)

dream-panda-orb-knownq-link5--1804
dream-panda-orb-knownq-link2--1804
dream-panda-orb-knownq-link1--1804
dream-panda-orb-knownq-link0--1804
dream-panda-orb-knownq-link4--1804
dream-panda-orb-knownq-link9--1804

,ref,ADD
dataset,,
dream.panda.real.orb,link5,74.40
dream.panda.real.orb,link2,75.06
dream.panda.real.orb,link1,74.89
dream.panda.real.orb,link0,75.02
dream.panda.real.orb,link4,79.45
dream.panda.real.orb,link9,0.00

# Results unknown joints

In [5]:
# DREAM
import numpy as np
exp_id = 1804
robots = [
    'kuka', 
    'baxter',
    'panda'
]
result_ids = [
    f'dream-{robot}-unknownq--{exp_id}' for robot in robots
]

rows =  []
result_key = 'full_image_detections/unknown_joints/iteration=10/dream_keypoints/ADD/AUC'
for result_id in result_ids:
    result_dir = LOCAL_DATA_DIR / 'results' / result_id
    print(result_id)
    ds_result_dirs = result_dir.glob('dataset=*')
    for ds_result_dir in ds_result_dirs:
        dataset = ds_result_dir.name.split('dataset=')[1]
        path = ds_result_dir / 'summary.pth.tar'
        summary = torch.load(path)
        rows.append(
            dict(
                dataset=dataset,
                DREAM=summary['known_joints/dream/dream_keypoints/ADD/AUC']*100,
                ours=summary[result_key]*100,
            )
        )
display_html(pd.DataFrame(rows).set_index('dataset'))


print("CRAVES LAB")
result_key = 'full_image_detections/unknown_joints/iteration=10'
result_id = f'craves-lab-unknownq--{exp_id}'
print(result_id)
ds_result_dir = LOCAL_DATA_DIR / 'results' / result_id / f'dataset=craves.lab.real.test'
path = ds_result_dir / 'summary.pth.tar'
summary = torch.load(path)
for k in ('joint_error_mean', 'loc_error_xyz_abs_mean', 'loc_error_norm', 'rot_error_mean'):
    meter = 'craves'
    if 'loc' in k:
        mul = 100
    else:
        mul = 1
    value = summary[f'{result_key}/{meter}/{k}'] * mul
    value_top50 = summary[f'{result_key}/{meter}/{k}_top50'] * mul
    print(f'{k}: {value:.2f}/{value_top50:.2f}')
pck = summary[f'{result_key}/craves_keypoints/PCK@0.2']*100
print(f"PCK@0.2: {pck:.2f}")
    
    
print("")
print("CRAVES YT")
result_key = 'full_image_detections/unknown_joints/iteration=20/craves_keypoints/PCK@0.2'
focals = [500, 750, 1000, 1250, 1500, 1750, 2000]
rows = []
for focal in focals:
    result_id = f'craves-youtube-unknownq-focal={focal}--{exp_id}'
    print(result_id)
    ds_result_dir = LOCAL_DATA_DIR / 'results' / result_id / f'dataset=craves.youtube'
    path = ds_result_dir / 'summary.pth.tar'
    summary = torch.load(path)
    result_df = torch.load(ds_result_dir / 'error_dfs.pth.tar')
    mean_accuracy = result_df['full_image_detections/unknown_joints/iteration=20']['craves_keypoints'].keypoints_mean_accuracy
    for im_id, v in enumerate(mean_accuracy):
        rows.append(dict(im_id=im_id, focal=focal, accuracy=v.item()))
    print(f"f={focal}, {summary[result_key]*100:.2f}")
    
bests = []
idx = pd.DataFrame(rows).set_index(['im_id'])
for im_id in range(252):
    bests.append(np.max(idx.loc[im_id, 'accuracy']))
print("Best focal")
print(np.mean(bests))

dream-kuka-unknownq--1804
dream-baxter-unknownq--1804
dream-panda-unknownq--1804

,DREAM,ours
dataset,,
dream.kuka.synt.photo.test,72.14,73.17
dream.kuka.synt.dr.test,73.30,80.14
dream.baxter.synt.dr.test,75.47,32.57
dream.panda.real.azure,68.91,70.32
dream.panda.real.realsense,78.83,74.25
dream.panda.synt.photo.test,81.09,79.84
dream.panda.real.orb,61.93,70.36
dream.panda.synt.dr.test,82.89,82.86
dream.panda.real.kinect360,64.01,77.71

CRAVES LAB
craves-lab-unknownq--1804
joint_error_mean: 5.49/3.22
loc_error_xyz_abs_mean: 0.61/0.42
loc_error_norm: 1.31/0.90
rot_error_mean: 4.12/2.91
PCK@0.2: 99.20

CRAVES YT
craves-youtube-unknownq-focal=500--1804
f=500, 87.34
craves-youtube-unknownq-focal=750--1804
f=750, 88.14
craves-youtube-unknownq-focal=1000--1804
f=1000, 88.97
craves-youtube-unknownq-focal=1250--1804
f=1250, 87.33
craves-youtube-unknownq-focal=1500--1804
f=1500, 87.37
craves-youtube-unknownq-focal=1750--1804
f=1750, 86.61
craves-youtube-unknownq-focal=2000--1804
f=2000, 85.49
Best focal
0.9291170708362072

# Ablation unknown joints

In [6]:
exp_id = 1804
import numpy as np
rows = []
result_key = 'full_image_detections/unknown_joints/iteration=10/dream_keypoints/ADD/AUC'
top_5_links = ['panda_link0', 'panda_link1', 'panda_link2', 'panda_link4', 'panda_link5']

infos = [
    dict(anchor='link5'),
    dict(anchor='link2'),
    dict(anchor='link1'),
    dict(anchor='link0'),
    dict(anchor='link4'),
    dict(anchor='link9'),
    
    dict(anchor='random_all'),
    dict(anchor='random_top5'),
    dict(anchor='random_top3'),
]

rows = []

ds_names = [
    'dream.panda.real.orb',
]
ds_name = ds_names[0]

for info in infos:
    result_id = f"dream-panda-orb-unknownq-{info['anchor']}--{exp_id}"
    print(result_id)
    ds_result_dir = LOCAL_DATA_DIR / 'results' / result_id / f'dataset={ds_name}'
    path = ds_result_dir / 'summary.pth.tar'
    summary = torch.load(path)
    row = info
    row['result_id'] = result_id
    row[ds_name] = summary[result_key] * 100
    row[ds_name] = f"{row[ds_name]:.2f}"
    row['anchor'] = info['anchor']
    rows.append(row)
    
pd.DataFrame(rows).loc[:, ['anchor', ds_name]]

dream-panda-orb-unknownq-link5--1804
dream-panda-orb-unknownq-link2--1804
dream-panda-orb-unknownq-link1--1804
dream-panda-orb-unknownq-link0--1804
dream-panda-orb-unknownq-link4--1804
dream-panda-orb-unknownq-link9--1804
dream-panda-orb-unknownq-random_all--1804
dream-panda-orb-unknownq-random_top5--1804
dream-panda-orb-unknownq-random_top3--1804

        anchor dream.panda.real.orb
0        link5                68.01
1        link2                65.56
2        link1                60.40
3        link0                57.44
4        link4                69.54
5        link9                63.40
6   random_all                64.28
7  random_top5                70.39
8  random_top3                71.36

# Benefits of iterative refinement

In [7]:
exp_id = 1804
Ks_train = (1, 2, 3, 5)
Ks_test = (1, 2, 3, 5, 10)
result_ids = [
    (f'dream-panda-orb-train_K={K}--{exp_id}', K)  for K in Ks_train
]

rows = []
for (result_id, K_train) in result_ids:
    print(result_id)
    result_dir = LOCAL_DATA_DIR / 'results' / result_id
    ds_result_dirs = result_dir.glob('dataset=*')
    print(result_id)
    for ds_result_dir in ds_result_dirs:
        dataset = ds_result_dir.name.split('dataset=')[1]
        path = ds_result_dir / 'summary.pth.tar'
        summary = torch.load(path)
        for K in Ks_test:
            rows.append(
                dict(
                    K_train=K_train,
                    K_test=K,
                    ADD=summary[f'full_image_detections/unknown_joints/iteration={K}/dream_keypoints/ADD/AUC'] * 100,
                )
            )
df = pd.DataFrame(rows).set_index('K_train')
for K in Ks_train:
    display_html(df.loc[[K]].T)

dream-panda-orb-train_K=1--1804
dream-panda-orb-train_K=1--1804
dream-panda-orb-train_K=2--1804
dream-panda-orb-train_K=2--1804
dream-panda-orb-train_K=3--1804
dream-panda-orb-train_K=3--1804
dream-panda-orb-train_K=5--1804
dream-panda-orb-train_K=5--1804

K_train,1,1,1,1,1
K_test,1.00,2.00,3.00,5.00,10.00
ADD,0.43,24.31,34.72,39.77,41.25

K_train,2,2,2,2,2
K_test,1.00,2.00,3.00,5.00,10.00
ADD,1.70,32.22,52.08,62.76,65.73

K_train,3,3,3,3,3
K_test,1.00,2.00,3.00,5.00,10.00
ADD,1.14,25.51,49.22,65.64,70.39

K_train,5,5,5,5,5
K_test,1.00,2.00,3.00,5.00,10.00
ADD,0.61,15.80,36.81,61.08,70.77